@use "../mixins";
@use "../variables" as *;

#shop {

    .boot {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 2rem 1rem;
        background-color: $lightClr;
        border-radius: $radius;
        box-shadow: $shadowOne;
        transition: .3s;

        .boot__img {
            position: absolute;
            top: 2rem;
            width: 10rem;
            transform: $rotateImg;
            filter: drop-shadow(0 12px 8px rgba(0,0,0, .2));
        }

        .boot__price {
            margin-bottom: $mb-5;
        }
    }
}

.boot__pages {
    margin-top: $mb-6;

    .boot__page {
        display: inline-block;
        padding: .5rem 1rem;
        border: 2px solid $darkClr;
        font-weight: 500;

        &:hover {
            background-color: $darkClr;
            color: $lightClr;
        }
    }
}