@use "../mixins";
@use "../variables" as *;

.shop {
    background-color: $bodyBcg;
}

.shop__container {
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    gap: 2rem;

    @include mixins.breakpoint-up(medium) {
        column-gap: 1rem;
    }

    .boot {
        position: relative;
        height: 20rem;
        width: 15rem;
        margin: 0 auto;
        padding: 2rem 1rem 0;
        background-color: $lightClr;
        border-radius: $radius;
        box-shadow: $shadowOne;

        &__img {
            position: absolute;
            width: 11rem;
            left: 15%;
            filter: drop-shadow(0 12px 8px rgba(0,0,0, .2));    
        }

        &__data {
            transform: translateY(14rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            & button {
                opacity: 0;
            }
        }

        &__name, &__price {
            font-weight: 500;
        }

        &__name {
            font-size: $fontSlg;
            margin-bottom: $mb-1;
        }

        &__price {
            font-size: $fontSlg;
            margin-bottom: $mb-3;
            display: inline-block;
        }

        &__description {
            text-align: center;
            margin-bottom: $mb-3;
            opacity: 0;
        }

        &__img,
        &__data,
        &__name,
        &__price,
        &__description {
            transition: .7s;
        }

        &:hover {
            cursor: pointer;
            .boot__img {
                transform: translate(-1.5rem, -4rem) rotate(-20deg);
            }
            .boot__data {
                transform: translateY(8rem);
            }
            .boot__name {
                font-size: $fontMd;
                margin-bottom: 0;
            }
            .boot__price {
                font-size: $fontMd;
                margin-bottom: $mb-1;
            }
            .boot__description,
            button {
                transition-delay: .2s;
                opacity: 1;
            }
        }
    }
}

.boot__pages {
    margin-top: $mb-6;

    .boot__page {
        display: inline-block;
        padding: .5rem 1rem;
        border: 2px solid $darkClr;
        font-weight: 500;

        &:hover {
            background-color: $darkClr;
            color: $lightClr;
        }
    }
}

